@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Red+Hat+Display:ital,wght@0,600;0,800;0,900;1,400&display=swap');

// ==========COLORS SETUP =======================

$Black: rgba(0, 0, 0, 0.75);
$Very-vark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Orange: hsl(26, 100%, 55%);
$Pale-orange: hsl(25, 100%, 94%);

// !!! ========================================= !!!

@mixin roundBorder($radius){
    overflow: hidden;
    border-radius: $radius;
}



// ==========  BASIC SETUP ===  ================== 
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans";
}

html{
    color: $Dark-grayish-blue;
}

a {
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

hr{
    width: 80%;
    margin: auto;
    border-top: $Light-grayish-blue;
}

h1, h2, h3, h4, h5, h6{
    color: $Black;
}


// !! =========================================== !!

nav{
    width: 100%;
    height: 5rem;
}

.nav{
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $Light-grayish-blue;

    &>section{
        display: flex;
        align-items: center;
    }  
}

h1{
    font-size: 1.7rem;
    font-weight: 700;
}

.categories{
    display: flex;
    align-items: center;
    margin-left: 2rem;

    & > * + * {
        margin-left: 2rem;
    }

    a{
        position: relative;
    }
    
    a:hover::before{
        content: '';
        position: absolute;
        z-index: 1;
        width: 110%;
        height: 3px;
        margin-top: 2.9rem;
        background-color: $Orange;
    }
}

.profile{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid $Orange;
    background-color: orange;
    cursor: pointer;

    img{
        width: 100%;
        height: 100%;
    }
}


main{
    margin-top: 5vh;
    width: 100%;
}

.grid-col{
    $gap: 7%;
    width: clamp(49rem, 70%, 70rem);
    display: flex;

    column-gap: $gap;
    justify-content: center;
    margin: auto;
}

@media screen and (max-width: 880px) {
    .grid-col{
        width: 80%;
        flex-direction: column;
    }

    .categories{
        display: none;
    }

    .flex-spcbtw{
        display: none !important;
    }

    .right{
        font-size: 12px;
        margin-top: 1em;
    }
}

.left{
    display: flex;
    flex-direction: column;
    // background-color: $Black;
    row-gap: 1rem;
    justify-content: space-between;

    .img-container{
        width: 100%;
        height: 80%;
        @include roundBorder(1rem);
    }

    .pr-img{
        width: 100%;
        height: 100%;
    }

    .flex-spcbtw{
        display: flex;
        justify-content: space-between;
        column-gap: 2rem;

        .prev{
            flex-basis: 1;
            @include roundBorder(.5rem);

            img{
                width: 100%;
                aspect-ratio: 1;
                border-radius: .5rem;
            }
        }
    }
}

.right{
    display: grid;
    place-items: center;

    .vert-center{

        
        p{
            letter-spacing: 1.5px;
            margin-bottom: 1em;
            color: $Orange;
            font-size: .9em;
            font-weight: 600;
        }

        span{
            font-size: 1em;
        }

        h2{
            margin-bottom: 1em;
            color: rgba(0, 0, 0, 0.85);
            font-size: 2.5em;
            width: 80%;
        }

        h3{
            margin-top: 1em;
            margin-bottom: .5em;
            color: rgba(0, 0, 0, 0.85);
            font-size: 1.5em;
        }

        .discount{
            font-weight: 700;
            color: $Grayish-blue;
            text-decoration: line-through;
        }

        .bttns{
            margin-top: 1rem;
            display: grid;
            grid-template-columns: 35% 60%;
            column-gap: 5%;
            width: 100%;
            height: 3rem;

            .counter{
                width: 100%;
                height: 100%;
                display: grid;
                place-items: center;
                @include roundBorder(.75rem);
                background-color: $Light-grayish-blue;
            }

            .cart{
                width: 100%;
                height: 100%;
                @include roundBorder(.5rem);

                button{
                    height: 100%;
                    width: 100%;
                    border: none;
                    background-color: $Orange;
                    font-size: 1em;
                    font-weight: 700;
                    color: white;
                }
            }
        }
        
    }
}

@media  screen and (min-width: 1500px) {
    .right{
        font-size: 20px;
    }
}


