@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit";
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background: hsl(215, 32%, 27%);
    background: radial-gradient(circle, hsl(217, 54%, 11%) 0%, hsl(216, 50%, 16%) 100%);
}